@use '/src/assets/styles/mixins';

.container {
  min-width: 200px;
  height: auto;
  width: 100%;

  .buttons_container {
    padding: 0.3rem;
    display: flex;
  }

  .table_container {
    width: 100%;

    table {
      width: 100%;
      opacity: 1;
      border-collapse: collapse;
      table-layout: fixed;

      thead {
        tr {
          :nth-child(2) {
            width: 10%;
          }

          th {
            height: 40px;
            text-align: center;
            font: normal normal bolder 14px/15px 'DIN2014';
            border: 1px solid #9fa5b9;
            letter-spacing: 0px;
            color: var(--primary-color);
            opacity: 1;
            padding: 0.2rem 0.5rem;

            @include mixins.respond-below(sm) {
              padding: 0.5rem;
            }
          }
        }
      }

      tbody {
        tr {
          background-color: #fff;
          border-bottom: 1px solid #9fa5b9;
          height: 35px;
          // padding: 0.2rem 0.5rem;

          &:hover {
            background-color: #e5e5e5;
            cursor: pointer;
          }

          &:nth-child(2n + 1) {
            background: #f2f3f8 0% 0% no-repeat padding-box;
            opacity: 1;
          }

          td {
            text-align: center;
            font: normal normal normal 13px/16px 'DIN2014';
            letter-spacing: 0px;
            color: #16204e;
            opacity: 1;
            word-wrap: break-word;
          }
        }
      }

      @include mixins.respond-below(md) {
        table-layout: auto;
      }
    }

    @include mixins.respond-below(md) {
      overflow-x: auto;
    }
  }
}