@use '/src/assets/styles/mixins';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  .content {
    width: 50%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include mixins.respond-below(md) {
      width: 100%;
    }
  }
}