.table_container {
  margin-top: 1rem;
  width: 100%;

  table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;

    thead {
      font-style: normal;
      font-weight: normal;

      font-size: 15px;
      line-height: 18px;
      background-color: var(--primary-color);
      color: white;
      box-shadow: 0px 3px 5px #10173526;

      th {
        height: 40px;
        text-align: center;
        padding: 0 0.3rem;
        border: none;
        border-right: 0.5px solid #898fa6;

        &:nth-child(1) {
          border-top-left-radius: 5px;
          width: 25%;
        }

        &:nth-child(2) {
          width: 10%;
          border-left: 0.5px solid #898fa6;
        }

        &:nth-child(3) {
          width: 15%;
        }

        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(5) {
          width: 25%;
        }

        &:nth-child(6) {
          width: 10%;
        }
      }
    }

    tbody {
      border-left: 1px solid #31385a;
      border-bottom: 1px solid #31385a;
      border-right: 1px solid #31385a;

      tr {
        background-color: #fbfcfe;
        color: var(--primary-color);

        &:hover {
          background-color: #e5e5e5;
        }

        &:nth-child(2n + 1) {
          background: #f2f3f8 0% 0% no-repeat padding-box;
          opacity: 1;
        }

        td {
          text-align: center;
        }
      }
    }
  }
}