@import '../../../CreateModal/CreateModal.module.scss';

.delete_modal {
  @extend .modal;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 500px;
  z-index: 2006;

  .modal_container {
    .modal_content {
      padding: 1rem;

      p {
        font: normal normal normal 16px/20px 'DIN2014';
        color: var(--primary-light);
        margin-bottom: 1rem;

        span {
          color: var(--secondary-color);

          .title {
            font-weight: bold;
          }
        }
      }
    }

    .modal_footer {
      justify-content: flex-end;
    }
  }
}
