@use '/src/assets/styles/mixins';

.container {
  padding: 2rem 0rem;

  .container_grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 18% auto;
    gap: 1rem;

    .grid_one {
      width: 100%;
      display: grid;
    }

    .grid_two {
      width: 100%;
      display: grid;
    }

    @include mixins.respond-below(sm) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}