@import '/src/assets/styles/mixins';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include respond-below(sm) {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .buttons_container {
    display: flex;
    gap: 0.5rem;
  }
}
