.container {
    height: 100%;
    min-height: 400px;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: var(--white-color);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--primary-color);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}