@import '../../../../../../assets/styles/mixins';

.container {
  @include respond-below(sm) {
    display: none;
  }

  background: var(--primary-color) 0% 0% no-repeat padding-box;
  width: var(--sidebar-container-width);
  border-top: 1px solid var(--grey-line);
  overflow-y: auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--white-color);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--white-color);
  }

  .items {
    padding-bottom: 5rem;

    div {
      list-style-type: none;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        margin: 1rem 0;
        cursor: pointer;
        text-decoration: none;

        &.active {
          background-color: var(--white-color);

          .icon {
            color: var(--primary-color);
          }

          .label {
            color: var(--primary-color);
          }
        }

        .icon {
          color: var(--white-color);
          opacity: 1;
          font-size: 32px;
          margin-top: 0.5rem;
        }

        .label {
          text-align: center;
          font: normal normal normal 10px/13px var(--primary-font-family);
          letter-spacing: 0px;
          color: var(--white-color);
          margin-bottom: 0.5rem;
          opacity: 1;
        }

        &:hover {
          .icon {
            color: var(--secondary-color);
            -webkit-transition: color var(--menu-animation-delay) ease-out;
            -moz-transition: color var(--menu-animation-delay) ease-out;
            -o-transition: color var(--menu-animation-delay) ease-out;
            transition: color var(--menu-animation-delay) ease-out;
          }

          .label {
            color: var(--secondary-color);
            -webkit-transition: color var(--menu-animation-delay) ease-out;
            -moz-transition: color var(--menu-animation-delay) ease-out;
            -o-transition: color var(--menu-animation-delay) ease-out;
            transition: color var(--menu-animation-delay) ease-out;
          }
        }
      }
    }
  }
}
