@import '/src/assets/styles/mixins';

.modal {
  position: absolute;
  margin: auto;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -15%);
  padding: 0;
  width: 30%;
  height: auto;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border-radius: 5px;
  opacity: 1;
  z-index: 2010;

  .modal_container {
    border-radius: 5px;

    .modal_header {
      background-color: var(--primary-color);
      width: 100%;
      padding: 0.4rem;
      text-align: center;
      border: 1px solid var(--primary-color);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .modal_title {
        text-align: center;
        font: normal normal bold 16px/21px 'DIN2014';
        color: #fff;
      }
    }

    .modal_body {
      width: 100%;
      background-color: #fbfcfe;
      border: 1px solid #fbfcfe;
      border-radius: 5px;
      padding: 1rem;

      form {
        margin-top: 1rem;

        .form_group {
          display: grid;
          align-self: center;
          margin-bottom: 0.8rem;

          label {
            justify-self: left;
            align-self: center;
            font: normal normal normal 14px/18px 'DIN2014';
            letter-spacing: 0px;
            color: var(--primary-light);
          }

          & > label:nth-child(1) {
            grid-area: label;
          }

          p:nth-child(3) {
            grid-area: error;
            margin-top: 2px;
          }

          input {
            background: var(--grey-color) 0% 0% no-repeat padding-box;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            padding: 0.5rem 0.5rem;
            font: normal normal normal 11px/14px 'DIN2014';
            outline: none;

            @include respond-below(md) {
              width: inherit;
            }

            &::placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }
          }

          textarea {
            background: var(--grey-color) 0% 0% no-repeat padding-box;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            padding: 0.5rem 0.5rem;
            outline: none;
            height: 30px;
            width: 200px;

            @include respond-below(md) {
              width: inherit;
            }

            &::placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }

            /* Internet Explorer 10-11 */
            &:-ms-input-placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }

            /* Microsoft Edge */
            &::-ms-input-placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }

            resize: none;
            width: inherit;
            height: inherit;
          }

          p.__errors {
            text-align: left;
            font-family: 'DIN2014';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            font-size: 11px;
            line-height: 10px;
            letter-spacing: 0px;
            color: var(--secondary-color);
            opacity: 1;
          }

          grid-template-areas:
            'label input'
            'label error';

          grid-template-columns: 25% auto;
          column-gap: 10px;
        }

        .footer_buttons {
          text-align: center;
          margin-top: 2rem;
          display: flex;
          justify-content: space-evenly;

          button {
            padding-left: 2rem;
            padding-right: 2rem;
          }
        }
      }
    }
  }

  @include respond-below(md) {
    width: 70%;
  }

  @include respond-below(sm) {
    width: 98%;
  }
}
