.file {
  text-align: center;
  margin-left: 20px;

  &.is_selected {
    border: 2px solid var(--secondary-color);
  }

  img {
    display: initial;
  }

  p {
    font: normal normal bold 12px/14px 'DIN2014';
  }
}
