@use '/src/assets/styles/mixins';

.container {
  padding: 1rem;

  @include mixins.respond-below(sm) {
    padding: 0;
  }

  .grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    .card_item {
      border: 1px solid var(--primary-color);
      width: 100%;
      height: 100%;
      background-color: var(--primary-color);
      padding: 1rem;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    @include mixins.respond-below(md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}