@use '../CreateModal/CreateModal.module.scss';

.__errors {
  text-align: left;
  font-family: 'DIN2014', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0px;
  color: var(--secondary-color);
  opacity: 1;
}
