@use '/src/assets/styles/mixins';

.modal {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 75%;
  height: 75%;
  overflow: auto;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border-radius: 5px;
  opacity: 1;

  .container {
    padding: 0;
    width: 100%;

    .header {
      .headers_buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        & > button {
          span {
            display: flex;
            gap: 5px;
          }
        }

        & > div {
          display: flex;
          gap: 5px;
        }
      }
    }

    .content_grid {
      width: 100%;
      display: grid;
      gap: 1rem;
      margin-top: 1rem;
      grid-template-columns: 11% auto;

      .grid_one {
        margin-top: 2rem;
      }

      .grid_two {
        padding: 0;
      }

      // grid-template-columns: 8% 92%;

      @include mixins.respond-below(md) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
