.item {
  display: flex;
  align-items: center;
  padding: 0rem;
  width: 100%;
  height: 100%;

  &.loader {
    justify-content: center;
  }

  & > a {
    padding: 0.2rem 0.2rem;
  }

  span.text {
    font:
      normal normal normal 12px/15px 'DIN2014',
      Arial,
      sans-serif;
    letter-spacing: 0px;
    color: var(--primary-light);
  }

  &:hover {
    background-color: #16204e1d;
  }
}
