@import '/src/assets/styles/mixins';

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;

  .content {
    width: 70%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include respond-below(sm) {
      width: 100%;
    }

    .first_grid {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .header_buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .shipping_container {
      label {
        text-align: right;
        font: normal normal normal 12px/15px 'DIN2014';
        letter-spacing: 0px;
        color: #16204e;
        opacity: 1;
        width: 100%;
        margin: 0 auto;
        align-self: center;
        padding-right: 1rem;

        @include respond-below(sm) {
          text-align: left;
        }
      }

      input {
        background: var(--grey-color) 0% 0% no-repeat padding-box;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        font: normal normal normal 11px/14px 'DIN2014';
        outline: none;
        height: 30px;
        width: inherit;
      }
    }

    .buttons_container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      row-gap: 0.5rem;

      // button {
      //   width: fit-content;
      // }
    }
  }
}
