@import '/src/assets/styles/mixins';

.table_container {
  width: 100%;

  table {
    width: 100%;

    tbody {
      border-left: 1px solid #31385a;
      border-right: 1px solid #31385a;
      border-bottom: 1px solid #31385a;
      height: auto;
      min-height: 50vh;
      overflow-y: auto;
      display: block;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      tr:nth-child(2n + 1) {
        background: #f2f3f8 0% 0% no-repeat padding-box;
        opacity: 1;
      }

      tr {
        td {
          font: normal normal normal 14px/18px 'DIN2014';
          color: #16204e;
          text-align: left;
          padding: 10px 0 10px 0.5rem;
          height: 45px;

          &:nth-child(1) {
            width: 15%;
          }

          &:not(:first-child) {
            width: 6%;
            text-align: center;

            @include respond-below(md) {
              width: auto;
            }
          }
        }
      }
    }
  }

  table thead,
  table tbody tr {
    table-layout: fixed;
    border-collapse: collapse;
    display: table;
    width: 100%;

    @include respond-below(md) {
      table-layout: auto;
    }
  }

  table thead {
    font-style: normal;
    font-weight: normal;

    font-size: 14px;
    line-height: 18px;
    color: white;
    box-shadow: 0px 3px 5px #10173526;
    background-color: var(--primary-color);

    @include respond-below(md) {
      font-size: 12px;
      line-height: 15px;
    }

    th {
      height: 35px;
      text-align: left;
      border-right: 0.5px solid #898fa6;
      padding: 0 0.5rem;

      &:nth-child(1) {
        width: 15%;
      }

      &:not(:first-child) {
        width: 6%;
        text-align: center;
      }
    }
  }

  @include respond-below(md) {
    overflow-x: auto;
  }
}
