@use '/src/assets/styles/mixins';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include mixins.respond-below(sm) {
    justify-content: inherit;
    align-items: inherit;
  }
}