.container {
  .content {
    padding: 5px;

    .details {
      display: grid;
      grid-template-columns: 30% auto;
      color: var(--primary-light);
      letter-spacing: 0px;
      font-size: 14px;
      line-height: 18px;
      font-style: normal;
      font-variant: normal;
      margin-bottom: 0.5rem;

      .title {
        font-weight: bold;
        font-family: 'DIN2014';
        text-align: start;
      }

      .content {
        margin-left: 5px;
        font-family: 'DIN2014';
        font-weight: normal;
        word-break: break-word;

        &::before {
          content: ' ';
        }
      }
    }
  }
}
