@import '../ImportFilesModal/ImportFilesModal.module.scss';

.delete_modal {
  @extend .modal;
  width: 30%;

  .form_container {
    .form_content {
      margin: 1rem 0;

      p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 1em;

        span {
          color: var(--secondary-color);
          font-weight: bold;
        }
      }
    }
  }

  @include respond-below(md) {
    width: 75%;
  }

  @include respond-below(sm) {
    width: 98%;
  }
}
