.modal_content {
  padding: 0 1rem;

  p {
    font-size: 16px;
    line-height: 20px;
  }

  form {
    margin: 1rem 0;

    .form__group {
      width: 100%;
      display: grid;
      align-self: center;
      margin-bottom: 1rem;
      grid-template-areas:
        'label label'
        'input input'
        'error error';
      grid-template-columns: auto;

      input,
      select,
      textarea:nth-child(2) {
        grid-area: input;
      }

      p:nth-child(3) {
        grid-area: error;
        margin-top: 2px;
      }

      label {
        grid-area: label;
        justify-self: center;
        text-align: left;
        font:
          normal normal normal 12px/15px 'DIN2014',
          Arial,
          sans-serif;
        letter-spacing: 0px;
        color: var(--primary-light-color);
        opacity: 1;
        width: 100%;
        margin: 0 auto;
        align-self: center;
        padding-right: 1rem;
      }

      input {
        background: var(--grey-color) 0% 0% no-repeat padding-box;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        outline: none;
        height: 30px;
        width: inherit;

        &::placeholder {
          text-align: left;
          font:
            normal normal normal 11px/14px 'DIN2014',
            Arial,
            sans-serif;
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          text-align: left;
          font:
            normal normal normal 11px/14px 'DIN2014',
            Arial,
            sans-serif;
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }

        &::-ms-input-placeholder {
          text-align: left;
          font:
            normal normal normal 11px/14px 'DIN2014',
            Arial,
            sans-serif;
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }
      }

      p {
        text-align: left;
        font-family: 'DIN2014', Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        font-size: 11px;
        line-height: 10px;
        letter-spacing: 0px;
        color: var(--secondary-color);
        opacity: 1;
      }
    }

    .form__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        padding: 0.5rem 2rem;
      }
    }
  }
}
