@use '/src/assets/styles/mixins';

.container {
  padding: 0;
  width: 100%;

  .headers_buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include mixins.respond-below(sm) {
      row-gap: 1rem;
    }

    & > button {
      span {
        display: flex;
        gap: 5px;
      }
    }

    button.business_number {
      font-weight: 900;
      color: var(--primary-color);
      font-size: 18px;
      cursor: copy;
    }

    div.right_buttons {
      display: flex;
      gap: 5px;
      flex-wrap: wrap;

      @include mixins.respond-below(sm) {
        justify-content: flex-end;
        width: 100%;
      }
    }
  }

  .content_grid {
    width: 100%;
    display: grid;
    gap: 1rem;
    margin-top: 1rem;

    &.two_grid {
      grid-template-columns: 32% auto;

      @include mixins.respond-below(sm) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    // &>:first-child:nth-last-child(1) {
    //   grid-template-columns: 100%;
    // }
    // &>:first-child:nth-last-child(2) {
    //   grid-template-columns: 35% auto;
    // }

    .second_grid {
      width: 100%;

      .business_info_sections {
        width: 50%;

        .form_group {
          width: 100%;
          display: grid;
          // grid-template-columns: 20% 80%;
          align-self: center;
          margin-bottom: 0.3rem;
          grid-template-areas:
            'label'
            'input'
            'error';
          grid-template-columns: repeat(1, 1fr);

          label {
            grid-area: label;
          }

          div,
          input,
          select,
          textarea:nth-child(2) {
            grid-area: input;
          }

          p:nth-child(3) {
            grid-area: error;
            margin-top: 2px;
          }

          label {
            text-align: left;
            font: normal normal normal 16px/20px 'DIN2014';
            letter-spacing: 0px;
            color: var(--primary-light);
            opacity: 1;
            width: 100%;
            margin-bottom: 0.3rem;
            align-self: center;
            padding-right: 1rem;

            &.required {
              font-family: 'DIN2014';

              span {
                color: var(--secondary-color);
              }
            }
          }

          .form_input_save {
            input {
              background: var(--grey-color) 0% 0% no-repeat padding-box;
              border: 1px solid var(--primary-color);
              border-radius: 5px;
              padding: 0.5rem 0.5rem;
              outline: none;
              height: 30px;
              width: inherit;
              min-width: 200px;
              max-width: 250px;

              &::placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }

              &:-ms-input-placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }

              &::-ms-input-placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }
            }

            svg {
              margin-left: 5px;
              color: var(--primary-color);
              font-size: 20px;
              cursor: pointer;
            }
          }

          p.__errors {
            text-align: left;
            font-family: 'DIN2014';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            font-size: 11px;
            line-height: 10px;
            letter-spacing: 0px;
            color: var(--secondary-color);
            opacity: 1;
          }
        }

        @include mixins.respond-below(sm) {
          width: 100%;
        }
      }

      .address_sections {
        display: grid;
        gap: 10px;
        grid-template-areas:
          'item1 item1 item1'
          'item2 item3 item3'
          'item2 item4 item4'
          'item2 item5 item5'
          'item6 item5 item5';

        & > div:nth-child(1) {
          grid-area: item1;

          grid-column-start: 2;
          grid-column-end: 4;
          display: flex;
          justify-content: space-between;

          @include mixins.respond-below(sm) {
            grid-column-start: 1;
            grid-column-end: 4;
          }

          .enterprise_category {
            p {
              font: normal normal normal 14px/18px 'DIN2014';

              span {
                font-weight: bold;
                color: var(--primary-color);
              }
            }
          }

          & > div:nth-child(1) {
            align-self: center;
          }
        }

        & > div:nth-child(2) {
          grid-area: item2;

          display: grid;
          gap: 1rem;

          @include mixins.respond-below(sm) {
            grid-template-columns: repeat(1, 1fr);
            grid-column-start: 1;
            grid-column-end: 4;
          }
        }

        & > div:nth-child(3) {
          grid-area: item3;
          display: grid;
          grid-template-columns: 1fr 0px 1fr;
          gap: 10px;

          @include mixins.respond-below(sm) {
            grid-template-columns: repeat(1, 1fr);
            grid-column-start: 1;
            grid-column-end: 4;
          }

          & > :nth-child(1) {
            :global .cwa__container {
              height: 100%;
            }
          }
        }

        & > div:nth-child(4) {
          grid-area: item4;
          display: grid;
          gap: 0.5rem;

          @include mixins.respond-below(sm) {
            grid-column-start: 1;
            grid-column-end: 4;
          }
        }

        & > div:nth-child(5) {
          grid-area: item5;

          @include mixins.respond-below(sm) {
            grid-column-start: 1;
            grid-column-end: 4;
          }
        }

        & > div:nth-child(6) {
          grid-area: item6;

          @include mixins.respond-below(sm) {
            grid-column-start: 1;
            grid-column-end: 4;
          }

          .form_group {
            width: 100%;
            display: grid;
            // grid-template-columns: 20% 80%;
            align-self: center;
            margin-bottom: 0.3rem;
            grid-template-areas:
              'label'
              'input'
              'error';
            grid-template-columns: repeat(1, 1fr);

            label {
              grid-area: label;
            }

            input,
            select,
            textarea:nth-child(2) {
              grid-area: input;
            }

            p:nth-child(3) {
              grid-area: error;
              margin-top: 2px;
            }

            label {
              text-align: left;
              font: normal normal normal 16px/20px 'DIN2014';
              letter-spacing: 0px;
              color: var(--primary-light);
              opacity: 1;
              width: 100%;
              align-self: center;
              padding-right: 1rem;

              &.required {
                font-family: 'DIN2014';

                span {
                  color: var(--secondary-color);
                }
              }
            }

            input {
              background: var(--grey-color) 0% 0% no-repeat padding-box;
              border: 1px solid var(--primary-color);
              border-radius: 5px;
              padding: 0.5rem 0.5rem;
              outline: none;
              height: 30px;
              width: inherit;
              max-width: 250px;

              &::placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }

              &:-ms-input-placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }

              &::-ms-input-placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }
            }

            p.__errors {
              text-align: left;
              font-family: 'DIN2014';
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              font-size: 11px;
              line-height: 10px;
              letter-spacing: 0px;
              color: var(--secondary-color);
              opacity: 1;
            }

            .form_group_radio {
              display: flex;
              justify-content: flex-start;
              gap: 1rem;

              .form__radio {
                display: flex;
                align-items: center;
                gap: 0 0.2rem;

                input[type='radio'] {
                  width: inherit;
                }

                label {
                  font: normal normal normal 14px/18px 'DIN2014';
                  letter-spacing: 0px;
                  color: #16204e;
                }
              }
            }
          }

          .form_buttons {
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
          }
        }

        @include mixins.respond-below(sm) {
          grid-template-areas:
            'item1'
            'item3'
            'item4'
            'item5'
            'item2'
            'item6';
          row-gap: 1rem;
          column-gap: 0;
        }
      }

      .devilery_section {
        .form_group {
          width: 100%;
          display: grid;
          // grid-template-columns: 20% 80%;
          align-self: center;
          margin-bottom: 0.3rem;
          grid-template-areas:
            'label'
            'input'
            'error';
          grid-template-columns: repeat(1, 1fr);

          label {
            grid-area: label;
          }

          div,
          input,
          select,
          textarea:nth-child(2) {
            grid-area: input;
          }

          p:nth-child(3) {
            grid-area: error;
            margin-top: 2px;
          }

          .form_select_save {
            select {
              background: var(--grey-color) 0% 0% no-repeat padding-box;
              border: 1px solid var(--primary-color);
              border-radius: 5px;
              padding: 0.5rem 0.5rem;
              outline: none;
              height: 32px;
              width: inherit;
              min-width: 200px;
              max-width: 250px;
              box-shadow: 0px 3px 2px #10173526;
              text-align: left;
              font: normal normal normal 12px/15px 'DIN2014';
              letter-spacing: 0px;
              color: var(--primary-light);
              opacity: 1;

              option {
                padding: 1rem 0.5rem;
              }

              option:checked {
                color: var(--secondary-color);
              }
            }

            svg {
              margin-left: 5px;
              color: var(--primary-color);
              font-size: 20px;
              cursor: pointer;
            }
          }

          label {
            text-align: left;
            font: normal normal normal 16px/20px 'DIN2014';
            letter-spacing: 0px;
            color: var(--primary-light);
            opacity: 1;
            width: 100%;
            margin-bottom: 0.3rem;
            align-self: center;
            padding-right: 1rem;

            &.required {
              font-family: 'DIN2014';

              span {
                color: var(--secondary-color);
              }
            }
          }

          p.__errors {
            text-align: left;
            font-family: 'DIN2014';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            font-size: 11px;
            line-height: 10px;
            letter-spacing: 0px;
            color: var(--secondary-color);
            opacity: 1;
          }
        }
      }

      .associated_more_section {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 60% auto;
        gap: 10px;

        .form {
          .form_group {
            width: 100%;
            display: grid;
            // grid-template-columns: 20% 80%;
            align-self: center;
            margin-bottom: 0.3rem;
            grid-template-areas:
              'label'
              'input'
              'error';
            grid-template-columns: repeat(1, 1fr);

            label {
              grid-area: label;
            }

            input,
            select,
            textarea:nth-child(2) {
              grid-area: input;
            }

            p:nth-child(3) {
              grid-area: error;
              margin-top: 2px;
            }

            label {
              text-align: left;
              font: normal normal normal 16px/20px 'DIN2014';
              letter-spacing: 0px;
              color: var(--primary-light);
              opacity: 1;
              width: 100%;
              margin-bottom: 0.3rem;
              align-self: center;
              padding-right: 1rem;

              &.required {
                font-family: 'DIN2014';

                span {
                  color: var(--secondary-color);
                }
              }
            }

            input {
              background: var(--grey-color) 0% 0% no-repeat padding-box;
              border: 1px solid var(--primary-color);
              border-radius: 5px;
              padding: 0.5rem 0.5rem;
              outline: none;
              height: 30px;
              width: inherit;
              max-width: 250px;

              &::placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }

              &:-ms-input-placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }

              &::-ms-input-placeholder {
                text-align: left;
                font: normal normal normal 11px/14px 'DIN2014';
                letter-spacing: 0px;
                color: #9fa5b9;
                opacity: 1;
              }
            }

            p.__errors {
              text-align: left;
              font-family: 'DIN2014';
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              font-size: 11px;
              line-height: 10px;
              letter-spacing: 0px;
              color: var(--secondary-color);
              opacity: 1;
            }

            .form_group_radio {
              display: flex;
              justify-content: flex-start;
              gap: 1rem;

              .form__radio {
                display: flex;
                align-items: center;
                gap: 0 0.2rem;

                input[type='radio'] {
                  width: inherit;
                }

                label {
                  font: normal normal normal 14px/18px 'DIN2014';
                  letter-spacing: 0px;
                  color: #16204e;
                }
              }
            }
          }
        }
      }
    }
  }
}

.confirmBusinessDeleteModal {
  position: absolute;
  transform: translate(-50%, -5%);
  width: 35%;
  max-width: 350px;
  height: auto;
  top: 50%;
  left: 50%;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border: 1px solid #9fa5b9;
  border-radius: 5px;
  opacity: 1;

  .content {
    padding: 1rem;

    .title {
      text-align: center;
      font: normal normal bold 16px/20px 'DIN2014';
      letter-spacing: 0px;
      color: var(--primary-color);
      padding: 1rem;

      .secondary_color {
        color: var(--secondary-color);
      }
    }

    .text {
      text-align: center;
      font: normal normal normal 14px/16px 'DIN2014';
      letter-spacing: 0px;
      color: var(--primary-color);

      .bold {
        font: normal normal bold 14px/16px 'DIN2014';
        color: #16204e;
      }
    }

    .buttons_container {
      padding: 1rem 1rem 0 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      text-align: center;

      button {
        width: 50%;
      }
    }
  }

  @include mixins.respond-below(md) {
    width: 70%;
  }

  @include mixins.respond-below(sm) {
    width: 98%;
  }
}
