@import '/src/assets/styles/mixins';

.container {
  padding: 1rem;

  .form_container {
    padding: 2rem;

    .form_group {
      width: 100%;
      display: grid;
      align-self: center;
      margin-bottom: 1rem;

      label {
        grid-area: label;
        justify-self: center;
      }

      input,
      select,
      textarea:nth-child(2) {
        grid-area: input;
      }

      p:nth-child(3) {
        grid-area: error;
        margin-top: 2px;
      }

      grid-template-areas:
        'label input'
        'label error';

      grid-template-columns: 25% 75%;

      @include respond-below(sm) {
        grid-template-areas:
          'label label'
          'input input'
          'error error';
        grid-row-gap: 0.5rem;
        grid-template-columns: auto;
      }

      label {
        text-align: right;
        font: normal normal normal 12px/15px 'DIN2014';
        letter-spacing: 0px;
        color: var(--primary-light-color);
        opacity: 1;
        width: 100%;
        margin: 0 auto;
        align-self: center;
        padding-right: 1rem;

        @include respond-below(sm) {
          text-align: left;
        }

        &.required {
          span {
            color: var(--secondary-color);
          }

          font-family: 'DIN2014';
        }
      }

      input {
        background: var(--grey-color) 0% 0% no-repeat padding-box;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        outline: none;
        height: 30px;
        width: inherit;

        &::placeholder {
          text-align: left;
          font: normal normal normal 11px/14px 'DIN2014';
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          text-align: left;
          font: normal normal normal 11px/14px 'DIN2014';
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }

        &::-ms-input-placeholder {
          text-align: left;
          font: normal normal normal 11px/14px 'DIN2014';
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }
      }

      textarea {
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        background: var(--grey-color) 0% 0% no-repeat padding-box;

        &:focus {
          outline: none !important;
        }

        &::placeholder {
          text-align: left;
          font: normal normal normal 11px/14px 'DIN2014';
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          text-align: left;
          font: normal normal normal 11px/14px 'DIN2014';
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }

        &::-ms-input-placeholder {
          text-align: left;
          font: normal normal normal 11px/14px 'DIN2014';
          letter-spacing: 0px;
          color: #9fa5b9;
          opacity: 1;
        }
      }

      select {
        background: var(--grey-color) 0% 0% no-repeat padding-box;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        padding: 0.5rem 0.5rem;
        outline: none;
        height: 32px;
        width: inherit;
        box-shadow: 0px 3px 2px #10173526;
        text-align: left;
        font: normal normal normal 12px/15px 'DIN2014';
        letter-spacing: 0px;
        color: var(--primary-light-color);
        opacity: 1;

        option {
          padding: 1rem 0.5rem;
        }

        option:checked {
          color: var(--secondary-color);
        }
      }

      p.errors {
        text-align: left;
        font-family: 'DIN2014';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        font-size: 11px;
        line-height: 10px;
        letter-spacing: 0px;
        color: var(--secondary-color);
        opacity: 1;
      }
    }
  }

  .footer_section {
    width: 100%;
    margin-top: 0.5rem;

    .alert_section {
      color: var(--secondary-color);
      font-weight: bold;
      font-size: 13px;
    }

    .buttons_section {
      text-align: right;

      button {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 10px;
      }
    }
  }
}
