@import '../../../../assets/styles/mixins';

.container {
  position: sticky;
  z-index: 500;
  top: var(--topbar-container-height);

  @include respond-below(sm) {
    display: none;
  }

  .tabs {
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 0;
    overflow-x: auto;
    background-color: var(--bg-color);

    &::-webkit-scrollbar {
      height: 0px;
    }
  }
}