@import '/src/assets/styles/mixins';

._two {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include respond-below(sm) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    & > div {
      width: 100%;
    }
  }

  form {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .arc_details {
      display: flex;

      @include respond-below(sm) {
        flex-direction: column;
      }

      gap: 1rem;

      .form_group {
        width: auto;
        // display: grid;
        // grid-template-columns: 20% 80%;
        // align-self: center;
        margin-bottom: 0.3rem;

        @include respond-below(sm) {
          max-width: auto;
        }

        label {
          // grid-area: label;
          height: 15px;
        }

        // input,
        // select,
        // textarea
        // :nth-child(2) {
        //   grid-area: input;
        // }
        p:nth-child(3) {
          // grid-area: error;
          margin-top: 2px;
        }

        // grid-template-areas:
        //   "label"
        //   "input"
        //   "error";

        // grid-template-columns: repeat(1, 1fr);

        label {
          text-align: left;
          font: normal normal normal 16px/20px 'DIN2014';
          letter-spacing: 0px;
          color: var(--primary-light);
          opacity: 1;
          width: 100%;
          margin-bottom: 0.3rem;
          align-self: center;
          padding-right: 1rem;

          &.required {
            span {
              color: var(--secondary-color);
            }

            font-family: 'DIN2014';
          }
        }

        .form_input_save {
          display: flex;
          align-items: center;

          input {
            background: var(--grey-color) 0% 0% no-repeat padding-box;
            border: 1px solid var(--primary-color);
            border-radius: 5px;
            padding: 0.5rem 0.5rem;
            outline: none;
            height: 30px;
            width: inherit;
            max-width: 200px;

            @include respond-below(sm) {
              width: 100%;
              max-width: 100%;
            }

            &::placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }

            &:-ms-input-placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }

            &::-ms-input-placeholder {
              text-align: left;
              font: normal normal normal 11px/14px 'DIN2014';
              letter-spacing: 0px;
              color: #9fa5b9;
              opacity: 1;
            }
          }

          svg {
            margin-left: 5px;
            color: var(--primary-color);
            font-size: 20px;
            cursor: pointer;
          }
        }

        p.__errors {
          text-align: left;
          font-family: 'DIN2014';
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 11px;
          line-height: 10px;
          letter-spacing: 0px;
          color: var(--secondary-color);
          opacity: 1;
          word-wrap: break-word;
        }

        p.__warnings {
          text-align: left;
          font-family: 'DIN2014';
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          font-size: 11px;
          line-height: 10px;
          letter-spacing: 0px;
          color: orange;
          opacity: 1;
          word-wrap: break-word;
        }
      }
    }

    .actions_container {
      margin-top: 15px;

      @include respond-below(sm) {
        text-align: right;
      }

      a,
      button {
        margin-left: 10px;

        @include respond-below(sm) {
          margin-left: 0;
        }
      }
    }
  }
}
