.container {
  .details_container {
    width: 100%;
    padding: 0.5rem;

    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .details {
      display: grid;
      grid-template-columns: 40% auto;
      color: var(--primary-light);
      letter-spacing: 0px;
      font-size: 12px;
      line-height: 15px;
      font-style: normal;
      font-variant: normal;
      margin-bottom: 0.5rem;

      .title {
        font-weight: bold;
        font-family: 'DIN2014';
        text-align: start;
      }

      a.content {
        color: var(--primary-color);
        text-decoration: none;
      }

      .content {
        margin-left: 5px;
        font-family: 'DIN2014';
        font-weight: normal;
        word-break: break-word;

        &::before {
          content: ' ';
        }
      }
    }
  }
}
