.new_comment {
  padding: 0 1rem;
  margin-top: 1rem;
  width: 100%;

  .send_comment {
    width: 100%;

    form {
      display: flex;
      align-items: center;
      gap: 1rem;

      textarea {
        width: 90%;
        border: none;
        resize: none;
        background-color: #f2f3f9;
        padding: 5px;

        &:focus {
          outline: none;
        }
      }

      button {
        border: none;
        background-color: transparent;

        &:focus {
          outline: none;
        }

        svg {
          font-size: 25px;
          cursor: pointer;
        }
      }
    }
  }
}
