.dropzone_container {
  display: flex;
  flex-direction: column;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border: 1px solid #31385a;
  border-radius: 5px;
  opacity: 1;
  padding: 10px;
  height: 100%;
  overflow-y: auto;

  :global div.dropzone {
    cursor: pointer;
    flex-grow: 1;

    .plus {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 100%;
      text-align: center;

      p {
        font:
          normal normal normal 12px/16px 'DIN2014',
          Arial,
          sans-serif;
        letter-spacing: 0px;
        color: #31385a;
      }
    }
  }

  .selected_files {
    font:
      normal normal normal 12px/16px 'DIN2014',
      Arial,
      sans-serif;
    letter-spacing: 0px;
    color: #31385a;
    overflow-y: hidden;
    max-height: 50%;

    h4 {
      font-weight: revert;
    }

    ul {
      list-style-type: initial;
      list-style-position: inside;
      overflow: auto;
      height: 36px;

      li {
        padding-left: 10px;
        height: fit-content;

        a {
          text-decoration: revert;
          color: revert;
        }

        button {
          margin-left: 0.2rem;
        }
      }
    }
  }
}
