@use '/src/assets/styles/mixins';

.container {
  width: 100%;
  padding-bottom: 0.1rem;

  .card_container {
    .table_container {
      min-height: 555px;
      height: 100%;

      table {
        width: 100%;
        opacity: 1;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: auto;

        thead tr:nth-child(1) {
          border-top: 1px solid #9fa5b9;
          border-bottom: 1px solid #9fa5b9;

          th {
            padding: 0.5rem 0 0.5rem 1rem;
            text-align: center;
            font:
              normal normal normal 12px/18px 'DIN2014',
              Arial,
              sans-serif;
            letter-spacing: 0px;
            color: var(--primary-light);
            opacity: 1;
            border-right: 1px solid #9fa5b9;
            background-color: #fff;

            &:nth-child(1) {
              width: 10%;
            }

            &:nth-child(2) {
              width: 20%
            }

            &:nth-child(3) {
              width: 15%;
            }

            &:nth-child(4) {
              width: 12.5%;
            }

            &:nth-child(5) {
              width: 12.5%;
            }

            &:nth-child(6) {
              width: 15%;
            }

            &:nth-child(7) {
              width: 15%;
            }

            &:nth-last-child(1) {
              border-right: none;
            }
          }
        }

        tbody tr {
          cursor: pointer;
        }

        tr {
          background-color: #fff;
        }

        tr:hover {
          background-color: #e5e5e5;
        }

        tr:nth-child(2n + 1) {
          background: #f2f3f8 0% 0% no-repeat padding-box;
          opacity: 1;
        }

        td {
          padding: 0.5rem 0 0.5rem 1rem;
          text-align: center;
          font:
            normal normal normal 12px/15px 'DIN2014',
            Arial,
            sans-serif;
          letter-spacing: 0px;
          color: var(--primary-light);
          opacity: 1;

          &:nth-child(1) {
            width: 10%;
          }

          &:nth-child(2) {
            width: 20%
          }

          &:nth-child(3) {
            width: 15%;
          }

          &:nth-child(4) {
            width: 12.5%;
          }

          &:nth-child(5) {
            width: 12.5%;
          }

          &:nth-child(6) {
            width: 15%;
          }

          &:nth-child(7) {
            width: 15%;
          }

          @include mixins.respond-below(md) {
            div {
              width: 7rem;
            }
          }

          ul {
            list-style: none;
          }
        }
      }

      @include mixins.respond-below(md) {
        overflow-x: auto;
      }
    }

    .pagination {
      margin-bottom: 1rem;
    }
  }
}