@use 'mixins';
@use 'variables';

/* Vizion Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.Modal
*/

/* 00. Variables and Imports */
@font-face {
  font-family: 'DIN2014';
  font-weight: 700;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 600;
  src: url('/src/assets/fonts/DIN2014/DIN2014-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-DemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 900;

  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 900;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 100;
  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 300;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 400px;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Regular.ttf') format('truetype');
}

/* 01.Base */

:root {
  --toastify-color-success: #31385a;
  --toastify-color-error: #f24c52;
  --primary-color: #{variables.$primary-color};
  --secondary-color: #{variables.$secondary-color};
  --grey-color: #{variables.$grey-color};
  --grey-line: #{variables.$grey-line};
  --white-color: #{variables.$white-color};
  --bg-color: #{variables.$bg-color};
  --primary-light: #{variables.$primary-light-color};
  --grey-light: #{variables.$grey-light-color};
  --assistance-comment-green: #{variables.$assistance-comment-green};
  --assistance-comment-orange: #{variables.$assistance-comment-orange};
  --assistance-comment-red: #{variables.$assistance-comment-red};
  --assistance-comment-grey: #{variables.$assistance-comment-grey};
  --primary-font-family: #{variables.$primary-font-family};
  --toastify-font-family: #{variables.$toastify-font-family};
  --hover-animation-delay: #{variables.$hover-animation-delay};
  --topbar-container-height: #{variables.$topbar-container-height};
  --sidebar-container-width: #{variables.$sidebar-container-width};
  --sidebar-mobile-container-width: #{variables.$sidebar-mobile-container-width};
  --topbar-mobile-container-height: #{variables.$topbar-mobile-container-height};
  --card-xl: #{variables.$card-xl};
  --card-lg: #{variables.$card-lg};
  --card-md: #{variables.$card-md};
  --card-ls: #{variables.$card-ls};
  --card-sm: #{variables.$card-sm};
  --card-xs: #{variables.$card-xs};
  --card-xxs: #{variables.$card-xxs};
  --avatar-border-radius: #{variables.$avatar-border-radius};
  --avatar-width: #{variables.$avatar-width};
  --avatar-height: #{variables.$avatar-height};
  --vizion-light-blue: #{variables.$vizion-light-blue};
  --menu-animation-delay: #{variables.$menu-animation-delay};
  --tabs-container-height: #{variables.$tabs-container-height};
}

a.btn,
button.btn,
button[type='button'].btn,
button[type='reset'].btn,
button[type='submit'].btn {
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 5px #10173526;
  opacity: 1;
  text-align: center;
  font:
    normal normal normal 12px/15px 'DIN2014',
    Arial,
    sans-serif;
  letter-spacing: 0px;
  outline: none;
  text-decoration: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

svg {
  display: initial;
  vertical-align: sub;
}

a.btn,
button.btn,
button[type='button'].btn,
button[type='reset'].btn,
button[type='submit'].btn {
  &-primary {
    background-color: variables.$primary-color;
  }

  &-secondary {
    background-color: variables.$secondary-color;
  }

  &-primary-light {
    background: #fbfcfe 0% 0% no-repeat padding-box;
    border: 1px solid variables.$primary-color;
    color: #16204e;
    font-family: 'DIN2014', Arial, sans-serif;

    &:hover {
      background-color: variables.$primary-color;
      color: #fbfcfe;
    }
  }
}

/* 02. Modal */

.Modal {
  position: relative;
  margin: auto;
  top: 10%;
  padding: 0;
  width: 50%;
  max-width: 800px;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border-radius: 5px;
  opacity: 1;
  z-index: 2005;

  @include mixins.respond-above(md) {
    width: 75%;
  }

  @include mixins.respond-below(sm) {
    width: 95%;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25) 0% 0% no-repeat padding-box;
  overflow-y: auto;

  &>div {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

#sentry-feedback {
  --inset: auto auto 0 0;

  @include mixins.respond-below(sm) {
    display: none;
  }
}

html * {
  font-family: DIN2014, Arial, sans-serif;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
}

.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}

.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}

.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}

.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}

.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}

.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}

.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}

.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}

.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}