@use 'mixins';
@use 'variables';

/* Vizion Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.TopBar
03.SideBar
04.Load Container
05.Footer
06.Alignment
07.Margin
08.Padding
 
*/

/* 00. Variables and Imports */
@font-face {
  font-family: 'DIN2014';
  font-weight: 700;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 700;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 600;
  src: url('/src/assets/fonts/DIN2014/DIN2014-DemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 600;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-DemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 900;

  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 900;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 100;
  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 100;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 300;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 300;
  font-style: italic;
  src: url('/src/assets/fonts/DIN2014/DIN2014-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 400px;
  src: url('/src/assets/fonts/DIN2014/DIN2014-Regular.ttf') format('truetype');
}

/* 01.Base */

:root {
  --toastify-color-success: #31385a;
  --toastify-color-error: #f24c52;
  --primary-color: #{variables.$primary-color};
  --secondary-color: #{variables.$secondary-color};
  --grey-color: #{variables.$grey-color};
  --grey-line: #{variables.$grey-line};
  --white-color: #{variables.$white-color};
  --bg-color: #{variables.$bg-color};
  --primary-light: #{variables.$primary-light-color};
  --grey-light: #{variables.$grey-light-color};
  --assistance-comment-green: #{variables.$assistance-comment-green};
  --assistance-comment-orange: #{variables.$assistance-comment-orange};
  --assistance-comment-red: #{variables.$assistance-comment-red};
  --assistance-comment-grey: #{variables.$assistance-comment-grey};
  --primary-font-family: #{variables.$primary-font-family};
  --toastify-font-family: #{variables.$toastify-font-family};
  --hover-animation-delay: #{variables.$hover-animation-delay};
  --topbar-container-height: #{variables.$topbar-container-height};
  --sidebar-container-width: #{variables.$sidebar-container-width};
  --sidebar-mobile-container-width: #{variables.$sidebar-mobile-container-width};
  --topbar-mobile-container-height: #{variables.$topbar-mobile-container-height};
  --card-xl: #{variables.$card-xl};
  --card-lg: #{variables.$card-lg};
  --card-md: #{variables.$card-md};
  --card-ls: #{variables.$card-ls};
  --card-sm: #{variables.$card-sm};
  --card-xs: #{variables.$card-xs};
  --card-xxs: #{variables.$card-xxs};
  --avatar-border-radius: #{variables.$avatar-border-radius};
  --avatar-width: #{variables.$avatar-width};
  --avatar-height: #{variables.$avatar-height};
  --vizion-light-blue: #{variables.$vizion-light-blue};
  --menu-animation-delay: #{variables.$menu-animation-delay};
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'DIN2014', Arial, sans-serif;
  background-color: variables.$white-color;

  svg {
    display: initial;
    vertical-align: sub;
  }
}

#outer_wrap {
  overflow: hidden;
}

main.app__layout {
  position: relative;
  width: calc(100% - (variables.$sidebar-container-width));
  height: 100vh !important;
  min-height: 100% !important;
  top: variables.$topbar-container-height;
  margin-left: variables.$sidebar-container-width;
  height: 100% !important;
  border-left: 2px solid variables.$bg-color;
  border-right: 2px solid variables.$bg-color;

  @include mixins.respond-below(sm) {
    top: variables.$topbar-mobile-container-height;
    margin-left: 0;
    width: 100%;
    height: 100%;
  }

  &.openLoadContainer {
    @include mixins.respond-below(xs) {
      width: 100%;
      margin-left: 0;
    }
  }

  &.showMobileSidebar {
    @include mixins.respond-below(sm) {
      width: 100%;
      margin-left: 0;
      left: 0;
      transform: translateX(variables.$sidebar-mobile-container-width);
      transition: transform 100ms ease-in;
      backface-visibility: hidden;
      min-height: 100vh;
      height: 100%;
    }
  }

  .app__layout_wrapper {
    width: 100%;
    position: relative;

    .app__layout_tabs_wrapper {
      position: sticky;
      z-index: 500;
      top: variables.$topbar-container-height;

      @include mixins.respond-below(sm) {
        display: none;
      }

      .app__layout_tabs {
        white-space: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 0;
        overflow-x: auto;
        background-color: variables.$bg-color;

        &::-webkit-scrollbar {
          height: 0px;
        }

        .app__layout_tab {
          padding: 0 0rem 0rem 0.5rem;
          width: auto;
          max-width: auto;
          height: 32px;
          background-color: variables.$bg-color;
          border-right: 1.5px solid variables.$white-color;
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            cursor: pointer;
            text-decoration: none;
            text-align: left;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0px;
            color: variables.$primary-color;
            height: 100%;
            display: flex;
            align-items: center;

            span {
              margin-right: 2rem;
            }
          }

          &.active {
            border-right: none;
            border-top-right-radius: 5px;
            background-color: variables.$white-color;
          }

          svg {
            cursor: pointer;
            color: variables.$primary-color;
            font-size: 17px;
            font-weight: bold;
          }
        }
      }
    }

    .app__layout_mobile__load {
      display: none;
      position: relative;
      width: 100%;
      justify-content: flex-end;

      ._card {
        ._content {
          svg {
            font-size: 30px;
            color: var(--primary-color);
          }
        }
      }

      ._container {
        height: 100%;
        overflow-y: auto;
        background-color: red;
      }
    }

    .app__layout_content {
      position: relative;
      width: 100%;
      height: 100% !important;
      min-height: 100vh !important;
      background-color: variables.$white-color;
      padding: 1rem 1rem 6rem 1rem;

      &::-webkit-scrollbar {
        height: 0px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: variables.$grey-line;
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: variables.$primary-color;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: variables.$grey-line;
      }

      @include mixins.respond-below(sm) {
        display: inherit;
        padding: 0.5rem;
        margin-top: 0;
        overflow-y: auto;
        margin-bottom: calc(variables.$mobile-footer-height + 5rem);
      }

      div #reactFlowWrapper1 a {
        display: none;
      }

      div.my-masonry-grid {
        display: inline-flex;
        width: 100%;
        gap: 1rem;

        div.my-masonry-grid_column {
          background-clip: padding-box;
          gap: 1rem;
          display: flex;
          flex-direction: column;
        }
      }
    }

    @include mixins.respond-below(sm) {
      .app__layout_mobile__load {
        display: flex;
      }
    }
  }

  .__errors {
    text-align: left;
    font-family: 'DIN2014', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: 11px;
    line-height: 10px;
    letter-spacing: 0px;
    color: var(--secondary-color);
    opacity: 1;
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

#app {
  position: relative;
}

/* width */
#app::-webkit-scrollbar {
  width: 3px;
}

/* Track */
#app::-webkit-scrollbar-track {
  background: variables.$primary-color;
  border-radius: 5px;
}

/* Handle */
#app::-webkit-scrollbar-thumb {
  background: variables.$primary-color;
}

/* Handle on hover */
#app::-webkit-scrollbar-thumb:hover {
  background: variables.$grey-line;
}

/* 02.TopBar */
.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: variables.$topbar-container-height;
  z-index: 1999;

  @include mixins.respond-below(sm) {
    height: variables.$topbar-mobile-container-height;
  }

  .topbar__content {
    display: flex;
    background-color: variables.$primary-color;
    opacity: 1;
    box-sizing: border-box;
    padding: 0.5rem 0.8rem;

    .topbar__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;

      @include mixins.respond-below(sm) {
        display: none;
      }

      .topbar__left {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .topbar__user {
          display: flex;
          align-items: center;
          justify-content: center;

          .topbar__user_avatar {
            width: variables.$avatar-width;
            height: variables.$avatar-height;
            border-radius: variables.$avatar-border-radius;
            background: variables.$white-color 0% 0% no-repeat padding-box;
            border: 1px solid variables.$grey-line;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
              font-size: 24px;
              color: variables.$primary-color;
            }

            &:hover {
              background-color: variables.$secondary-color;
              border: 1px solid variables.$secondary-color;
              -webkit-transition: background-color variables.$hover-animation-delay ease-out;
              -moz-transition: background-color variables.$hover-animation-delay ease-out;
              -o-transition: background-color variables.$hover-animation-delay ease-out;
              transition: background-color variables.$hover-animation-delay ease-out;

              svg {
                color: variables.$white-color;
              }
            }
          }

          .topbar__user_infos {
            display: flex;
            flex-direction: column;
            text-align: left;
            font: normal normal normal 14px/18px variables.$primary-font-family;
            letter-spacing: 0px;
            color: variables.$grey-line;
            opacity: 1;
            margin-left: 1rem;
            width: 100px;
          }
        }

        .topbar__divider {
          border: 1px solid #eaeaef;
          width: 0px;
          height: 30px;
          opacity: 1;
          margin: 0 1rem;
        }

        .topbar__task {
          display: flex;
          flex-direction: row-reverse;
          gap: 1rem;

          button {
            border: 2px solid variables.$white-color;
            border-radius: 5px;
            opacity: 1;
            cursor: pointer;
            background-color: transparent;
            padding: 0.3rem 0.8rem;
            color: variables.$white-color;
            font-family: variables.$primary-font-family;
            font-size: 17px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              margin-left: 0.2rem;
              color: variables.$white-color;
              font-size: 22px;
            }

            &:hover {
              border: 2px solid variables.$secondary-color;
              -webkit-transition: border variables.$hover-animation-delay ease-out;
              -moz-transition: border variables.$hover-animation-delay ease-out;
              -o-transition: border variables.$hover-animation-delay ease-out;
              transition: border variables.$hover-animation-delay ease-out;
            }

            &:focus {
              outline: none;
            }
          }

          svg {
            color: variables.$white-color;
            font-size: 22px;
            cursor: pointer;
          }
        }
      }

      .topbar__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        flex: 1;

        .topbar__version {
          color: white;
        }

        .topbar__mail {
          a {
            background: variables.$white-color 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 5px #10173526;
            border-radius: 5px;
            opacity: 1;
            padding: 0.3rem 1.5rem;
            outline: none;
            text-align: center;
            font: normal normal normal 16px/22px variables.$primary-font-family;
            letter-spacing: 0px;
            color: variables.$primary-color;
            border: none;
            cursor: pointer;
            text-decoration: none;

            &:hover {
              background-color: variables.$secondary-color;
              color: variables.$white-color;

              -webkit-transition: background-color variables.$hover-animation-delay ease-out;
              -moz-transition: background-color variables.$hover-animation-delay ease-out;
              -o-transition: background-color variables.$hover-animation-delay ease-out;
              transition: background-color variables.$hover-animation-delay ease-out;
            }

            &:focus {
              outline: none;
            }
          }
        }

        .topbar__icons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 1.2rem;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: variables.$white-color;
            background: none;
            border: none;

            span.number {
              margin-right: 0.3rem;
              text-align: left;
              font: normal normal bold 18px/25px variables.$primary-font-family;
              letter-spacing: 0px;
              opacity: 1;
            }

            &:hover {
              color: variables.$secondary-color;

              -webkit-transition: color variables.$hover-animation-delay ease-out;
              -moz-transition: color variables.$hover-animation-delay ease-out;
              -o-transition: color variables.$hover-animation-delay ease-out;
              transition: color variables.$hover-animation-delay ease-out;
            }
          }
        }
      }
    }

    .topbar__mobile {
      display: none;
      justify-content: space-between;
      align-items: center;
      color: variables.$white-color;
      padding: 0.8rem 0.8rem;
      width: 100%;
      height: 100%;

      @include mixins.respond-below(sm) {
        display: flex;
      }

      .topbar__left__menu_icon {
        font-size: 30px;
        cursor: pointer;
      }

      .topbar__currentpage {
        font-size: 17px;
        font-family: 'DIN2014', Arial, sans-serif;
      }

      .topbar__right__menu_icon {
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}

/* 03.Sidebar */
.sidebar {
  opacity: 1;
  position: fixed;
  top: variables.$topbar-container-height;
  left: 0;
  z-index: 6;
  height: 100%;

  .sidebar__menu {
    background: variables.$primary-color 0% 0% no-repeat padding-box;
    width: variables.$sidebar-container-width;
    border-top: 1px solid variables.$grey-line;
    overflow-y: auto;
    height: 100%;

    @include mixins.respond-below(sm) {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background: variables.$white-color;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: variables.$white-color;
    }

    .sidebar__menus_items {
      padding-bottom: 5rem;

      ul {
        list-style-type: none;

        a {
          text-decoration: none;

          &.active {
            li {
              background-color: variables.$white-color;

              span.material-icons {
                color: variables.$primary-color;
              }

              span.label {
                color: variables.$primary-color;
              }
            }
          }

          li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.2rem;
            margin: 1rem 0;
            cursor: pointer;

            span.material-icons {
              color: variables.$white-color;
              opacity: 1;
              font-size: 32px;
              margin-top: 0.5rem;
            }

            span.label {
              text-align: center;
              font: normal normal normal 10px/13px variables.$primary-font-family;
              letter-spacing: 0px;
              color: variables.$white-color;
              margin-bottom: 0.5rem;
              opacity: 1;
            }

            &:hover {
              span.material-icons {
                color: variables.$secondary-color;
                -webkit-transition: color variables.$menu-animation-delay ease-out;
                -moz-transition: color variables.$menu-animation-delay ease-out;
                -o-transition: color variables.$menu-animation-delay ease-out;
                transition: color variables.$menu-animation-delay ease-out;
              }

              span.label {
                color: variables.$secondary-color;
                -webkit-transition: color variables.$menu-animation-delay ease-out;
                -moz-transition: color variables.$menu-animation-delay ease-out;
                -o-transition: color variables.$menu-animation-delay ease-out;
                transition: color variables.$menu-animation-delay ease-out;
              }
            }
          }
        }
      }
    }
  }

  @include mixins.respond-below(sm) {
    position: absolute;
    top: calc(variables.$topbar-mobile-container-height - 5px);

    &.isOpen {
      width: 100%;
    }

    .sidebar__mobile {
      background-color: white;
      width: variables.$sidebar-mobile-container-width;
      height: 100%;
      position: relative;
      top: 0;

      .sidebar__mobile__content {
        padding: 1rem 0.3rem;
        width: 100%;

        .sidebar__user {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.5rem;
          margin-bottom: 1.5rem;

          .sidebar__user_avatar {
            background-color: variables.$primary-color;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            span {
              color: variables.$white-color;
            }
          }

          .sidebar__user_infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.1rem;
            text-align: left;

            span {
              font-family: 'DIN2014', Arial, sans-serif;
              font-size: 16px;
              line-height: 20px;
              color: variables.$primary-color;

              &:nth-child(1) {
                font-family: 'DIN2014', Arial, sans-serif;
              }
            }
          }
        }

        .sidebar__bottom {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: 2.5rem;

          ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            a {
              text-decoration: none;

              &.active {
                li {
                  background-color: #eaeaef;

                  span.material-icons {
                    color: variables.$primary-color;
                  }

                  span.label {
                    color: variables.$primary-color;
                  }
                }
              }

              li {
                display: flex;
                align-items: center;
                gap: 0rem;
                padding: 0.8rem 0 0.8rem 0.3rem;
                cursor: pointer;
                border-radius: 5px;

                span.material-icons {
                  color: variables.$primary-color;
                  opacity: 1;
                  font-size: 24px;
                }

                span.label {
                  text-align: center;
                  font: normal normal normal 16px/20px variables.$primary-font-family;
                  letter-spacing: 0px;
                  color: variables.$primary-color;
                  opacity: 1;
                  margin-left: 1rem;
                }

                &:hover {
                  span.material-icons {
                    color: variables.$secondary-color;
                    -webkit-transition: color variables.$menu-animation-delay ease-out;
                    -moz-transition: color variables.$menu-animation-delay ease-out;
                    -o-transition: color variables.$menu-animation-delay ease-out;
                    transition: color variables.$menu-animation-delay ease-out;
                  }

                  span.label {
                    color: variables.$secondary-color;
                    -webkit-transition: color variables.$menu-animation-delay ease-out;
                    -moz-transition: color variables.$menu-animation-delay ease-out;
                    -o-transition: color variables.$menu-animation-delay ease-out;
                    transition: color variables.$menu-animation-delay ease-out;
                  }
                }
              }
            }
          }

          .sidebar__footer {
            position: relative;
            top: 5rem;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 0.5rem;

            .sidebar__icons {
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                color: variables.$primary-color;
                font-weight: bold;
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
    }
  }
}

/* 04.Load Container */
.load__container {
  position: absolute;
  top: calc(variables.$topbar-container-height + 32px);
  width: 0;
  height: max-content;
  border-top: 1px solid var(--grey-line);
  background-color: variables.$bg-color;
  opacity: 1;
  left: 0;
  z-index: 1998;

  &.openLoadContainer {
    width: variables.$load-container-width;
    left: variables.$sidebar-container-width;
    transition: left 0.2s ease-in;
    height: auto;

    .load__content {
      padding: 0.5rem;

      .load__content_title {
        color: #16204e;
      }

      .load__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .load__navabr_counts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        span {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
          font: normal normal normal 12px/15px variables.$primary-font-family;
          letter-spacing: 0px;
          color: #16204e;

          &.counts_in_progress {
            background: #d69e3c 0% 0% no-repeat padding-box;
          }

          &.counts_waiting {
            background: #e6e66e 0% 0% no-repeat padding-box;
          }

          &.counts_achieved {
            background: #609ad5 0% 0% no-repeat padding-box;
          }
        }
      }

      .load__navbar_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        span {
          font-size: 18px;
          cursor: pointer;

          &:nth-child(1) {
            color: variables.$primary-color;
          }

          &:nth-child(2) {
            color: variables.$secondary-color;
          }
        }
      }
    }

    .load__listing {
      position: relative;
      margin-top: 1rem;
      width: 100%;
      height: 100%;
      min-height: 100%;
      max-height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: normal;
      padding-bottom: 2rem;
      z-index: 1;

      &::-webkit-scrollbar {
        width: 0;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: variables.$white-color;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: variables.$primary-color;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: variables.$primary-color;
      }

      .load__listing_card {
        width: 100%;
        height: 100%;
        padding-bottom: 1rem;
        padding-right: 0.3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }
    }

    @include mixins.respond-below(xs) {
      display: none;
    }
  }
}

/* 06. Alignments */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* margin */
.mt-1 {
  margin-top: 5px;
}

.mt-2 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-4 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 25px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.mb-4 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 25px;
}

.mr-1 {
  margin-right: 5px;
}

.mr-2 {
  margin-right: 10px;
}

.mr-3 {
  margin-right: 15px;
}

.mr-4 {
  margin-right: 20px;
}

.mr-5 {
  margin-right: 25px;
}

.ml-1 {
  margin-left: 5px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-3 {
  margin-left: 15px;
}

.ml-4 {
  margin-left: 20px;
}

.ml-5 {
  margin-left: 25px;
}

/* Padding */
.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 25px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 25px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 25px;
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 25px;
}

.text-primary {
  color: variables.$primary-color;
}

.text-secondary {
  color: variables.$secondary-color;
}

.text-white {
  color: variables.$white-color;
}

a.btn,
button.btn,
button[type='button'].btn,
button[type='reset'].btn,
button[type='submit'].btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--white-color);
  padding: 0.5rem 1rem;
  box-shadow: 0px 3px 5px #10173526;
  opacity: 1;
  text-align: center;
  font:
    normal normal normal 12px/15px 'DIN2014',
    Arial,
    sans-serif;
  letter-spacing: 0px;
  outline: none;
  text-decoration: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

a.btn,
button.btn,
button[type='button'].btn,
button[type='reset'].btn,
button[type='submit'].btn {
  &-primary {
    background-color: variables.$primary-color;
  }

  &-secondary {
    background-color: variables.$secondary-color;
  }

  &-primary-light {
    background: #fbfcfe 0% 0% no-repeat padding-box;
    border: 1px solid variables.$primary-color;
    color: #16204e;
    font-family: 'DIN2014', Arial, sans-serif;

    &:hover {
      background-color: variables.$primary-color;
      color: #fbfcfe;
    }
  }
}

/* Display Flex */

.d-flex {
  display: flex;

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  &.row {
    flex-direction: row;
  }

  &.row-reserve {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.column-reserve {
    flex-direction: column-reverse;
  }
}

/* .background */

.bg-primary {
  background-color: variables.$primary-color;
}

.bg-secondary {
  background-color: variables.$secondary-color;
}

/* Modal */

.Modal {
  position: relative;
  margin: auto;
  top: 10%;
  padding: 0;
  width: 50%;
  max-width: 800px;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border-radius: 5px;
  opacity: 1;
  z-index: 2005;

  @include mixins.respond-above(md) {
    width: 75%;
  }

  @include mixins.respond-below(sm) {
    width: 95%;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25) 0% 0% no-repeat padding-box;
  overflow-y: auto;

  & > div {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

.Overlay-2 {
  @extend .Overlay;
  z-index: 3000;
}

#sentry-feedback {
  --inset: auto auto 0 0;

  @include mixins.respond-below(sm) {
    display: none;
  }
}
