@use '../StepOne/StepOne.module.scss';
@use "/src/assets/styles/mixins";

.voucher_modal {
  @extend .modal;
  width: 60%;
  z-index: 2015;

  .modal_container {
    .modal_content {
      margin-bottom: 2rem;

      .voucher_item {
        display: flex;
        justify-content: center;

        iframe {
          width: 95%;
          height: 70vh;

          @include mixins.respond-below(sm) {
            width: 100%;
          }
        }
      }
    }
  }
}