@import '/src/assets/styles/mixins';

.table_item {
  width: 100%;
  border-bottom: 1px solid #31385a;

  table {
    width: 100%;

    tbody {
      border-left: 1px solid #31385a;
      border-right: 1px solid #31385a;
      max-height: 100vh;
      overflow-y: auto;
      display: block;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: var(--white-color);
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--primary-color);
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
      }

      tr {
        background-color: #fbfcfe;
      }

      tr:hover {
        background-color: #e5e5e5;
      }

      tr:nth-child(2n + 1) {
        background: #f2f3f8 0% 0% no-repeat padding-box;
        opacity: 1;
      }

      tr {
        td {
          font: normal normal normal 14px/18px 'DIN2014';
          color: #16204e;
          padding-left: 1rem;

          @include respond-below(md) {
            padding-left: 10px;
          }

          height: 35px;
          text-align: center;

          &:nth-child(1) {
            width: 20%;
          }

          &:nth-child(2) {
            width: 40%;
          }

          &:nth-child(3) {
            width: 40%;

            select {
              background: #fbfcfe 0% 0% no-repeat padding-box;
              border: 1px solid #31385a;
              border-radius: 5px;
              width: 90%;
              height: 22px;

              font: normal normal normal 12px/15px 'DIN2014';
              letter-spacing: 0px;
              color: #16204e;
            }
          }
        }
      }
    }
  }

  table thead,
  table tbody tr {
    table-layout: fixed;
    border-collapse: collapse;
    display: table;
    width: 100%;
  }

  table thead {
    font-style: normal;
    font-weight: normal;

    font-size: 15px;
    line-height: 18px;
    color: white;
    box-shadow: 0px 3px 5px #10173526;

    @include respond-below(md) {
      font-size: 12px;
      line-height: 15px;
    }

    th {
      background-color: var(--primary-color);
      height: 38px;
      padding-left: 1rem;

      @include respond-below(md) {
        padding-left: 10px;
      }

      text-align: center;
      border: none;
      position: sticky;
      top: 0;

      &:nth-child(1) {
        border-top-left-radius: 5px;
        width: 20%;
      }

      &:nth-last-child(1) {
        border-top-right-radius: 5px;
        width: 40%;
      }

      &:nth-child(2) {
        border-right: 0.5px solid #898fa6;
        border-left: 0.5px solid #898fa6;
        width: 40%;
      }
    }
  }
}
