@import '/src/assets/styles/mixins';

.container {
  background-color: white;
  width: var(--sidebar-mobile-container-width);
  height: 100%;
  position: relative;
  top: 0;

  @include respond-above(sm) {
    display: none;
  }

  .content {
    padding: 1rem 0.3rem;
    width: 100%;

    .user {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      .avatar {
        background-color: var(--primary-color);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        svg {
          color: var(--white-color);
          font-size: 24px;
        }
      }

      .informations {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.1rem;
        text-align: left;

        span {
          font-family: 'DIN2014',
            Arial,
            sans-serif;
          font-size: 16px;
          line-height: 20px;
          color: var(--primary-color);

          &:nth-child(1) {
            font-family: 'DIN2014', Arial, sans-serif;
          }
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 2.5rem;

      div {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 0rem;
          padding: 0.8rem 0 0.8rem 0.3rem;
          cursor: pointer;
          border-radius: 5px;

          &.active {
            background-color: #eaeaef;

            .icon {
              color: var(--primary-color);
            }

            .label {
              color: var(--primary-color);
            }
          }

          .icon {
            color: var(--primary-color);
            opacity: 1;
            font-size: 24px;
          }

          .label {
            text-align: center;
            font: normal normal normal 16px/20px var(--primary-font-family);
            letter-spacing: 0px;
            color: var(--primary-color);
            opacity: 1;
            margin-left: 1rem;
          }

          &:hover {
            .icon {
              color: var(--secondary-color);
              -webkit-transition: color var(--menu-animation-delay) ease-out;
              -moz-transition: color var(--menu-animation-delay) ease-out;
              -o-transition: color var(--menu-animation-delay) ease-out;
              transition: color var(--menu-animation-delay) ease-out;
            }

            .label {
              color: var(--secondary-color);
              -webkit-transition: color var(--menu-animation-delay) ease-out;
              -moz-transition: color var(--menu-animation-delay) ease-out;
              -o-transition: color var(--menu-animation-delay) ease-out;
              transition: color var(--menu-animation-delay) ease-out;
            }
          }
        }
      }

      .footer {
        position: relative;
        top: 5rem;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 0.5rem;

        .icons {
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            color: var(--primary-color);
            font-weight: bold;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}