@use 'sass:meta';
@use '/src/assets/styles/mixins';

.modal {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 30%;
  height: auto;
  background: #fbfcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #10173526;
  border-radius: 5px;
  opacity: 1;
  z-index: 2005;

  .container {
    padding: 1rem;

    .title {
      text-align: center;

      h6 {
        text-align: center;
        font: normal normal bold 16px/20px 'DIN2014';
        color: var(--primary-light);
      }
    }

    .content {
      margin: 1rem 0;

      p {
        font: normal normal bold 14px/20px 'DIN2014';
      }
    }

    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      button {
        padding: 0.5rem inherit;
      }
    }
  }

  @include mixins.respond-below(md) {
    width: 75%;
    @include meta.load-css('../CreateModal/CreateModal.module.scss');

    .modal {
      .container {
        padding: 1rem;
      }
    }
  }

  @include mixins.respond-below(sm) {
    width: 95%;
  }
}
